
<div class="panel panel-default">
  <div>
      <% @question.answers.each do |ans| %>
      
        <%= ans.body %>
      </li>
      <% end %>
    </ol>
  </div>
</div>



<!-- Default panel contents -->
