<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3>
     <%= @question.title%>
   </h3>
 </div>
 <div class="panel-body">
   <h5><%= @question.body%> </h5>
   <div class="btn-group">
  <button type="button" class="btn btn-primary">Place Your Vote</button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Like</a></li>
    <li><a href="#">Dislike</a></li>
  </ul>
</div>
 </div>

 <ul class="list-group">
   <% @question.responses.each do |response| %>
   <li class="list-group-item">  
    <%= response.body  %>
  </li>
  <% end %>
</ul>
</div>